<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Poisson pilote - $title$</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="css/default.css" />
    </head>
    <body>
		<div class="navbar navbar-inverse fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="/">Poisson pilote</a>
				<ul class="nav">
					<li><a href="/expedition.html">Expédition</a></li>
					<li><a href="/programme-educatif.html">Programme éducatif</a></li>
					<li><a href="/sous-marin.html">Sous-marin</a></li>
					<li><a href="/equipe.html">Equipe</a></li>
					<li><a href="partenaires.html">Partenaires</a></li>
				</ul>
		</div>
    </div>
	<div class="container">
        $body$
	</div>
    </body>
</html>
