<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/en/">Pilot Fish Project</a>
        <ul class="nav">
            <li><a href="/en/expedition.html">Expedition</a></li>
            <li><a href="/en/educational-program.html">Educational Programme</a></li>
            <li><a href="/en/submarine.html">Submarine</a></li>
            <li><a href="/en/team.html">Team</a></li>
            <li><a href="/en/partners.html">Partners</a></li>
            <li><a href="/en/contact.html">Contact</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/">Version française</a></li>
        </ul>
    </div>
</div>
<div class="container">
    $body$
</div>
