<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">Poisson pilote</a>
        <ul class="nav">
            <li><a href="/expedition.html">Expédition</a></li>
            <li><a href="/programme-educatif.html">Programme éducatif</a></li>
            <li><a href="/sous-marin.html">Sous-marin</a></li>
            <li><a href="/equipe.html">Equipe</a></li>
            <li><a href="/partenaires.html">Partenaires</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/en/">English version</a></li>
        </ul>
    </div>
</div>
<div class="container">
    $body$
</div>
